- var page_title = "Inicio";
- var page = "MILLERDEV";

- var css = ["app.css"];
- var paginas = ["inicio", "destinos", "paquetes", "contacto"];
- var pagina_actual = "";

- var email = "gemillert4090@outlook.com";
- var location = "Trujillo, PE";

- var nosotros = [{ img: "trayectoria.svg", titulo: "TRAYECTORIA", boton: "Más Info", alt: "Trayectoria" },{ img: "world.svg", titulo: "DESTINOS", boton: "Elegir Destino", alt: "Destinos" },{ img: "packs.svg", titulo: "PAQUETES", boton: "Ver Paquetes", alt: "Paquetes" }]